{% extends 'base.html.twig' %}

{% block title %}Hello EmploiController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<table class="table">
        <thead>

            <tr>
            <td></td>
                {% for jour in jours %}
                    <th>{{ jour.nomJour}}</th>
                {% endfor %}
            <tr> 
        </thead>
        <tbody>
                {% for heur in horaires %}
                    <tr>
                        <th>{{heur}}</th>
                        {% for seance in seances %}
                            {% if seance.horaires==heur %}
                                {% for jour in jours %}
                                    {% if seance.jour==jour%}
                                        <td> {{seance.matiere}}<br>{{seance.salle}}</td>  
                                    {% else %}
                                        <td></td>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
        </tbody>
</table>

{% endblock %}
